@import 'tailwindcss';

@theme {
  --color-border: hsl(var(--border));

  --color-primary-50: #effef2;
  --color-primary-100: #dafee2;
  --color-primary-200: #b7fbc7;
  --color-primary-300: #7ff69b;
  --color-primary-400: #40e868;
  --color-primary-500: #17d044;
  --color-primary-600: #0dac34;
  --color-primary-700: #0d7d29;
  --color-primary-800: #116a28;
  --color-primary-900: #105723;
  --color-primary-950: #023110;
}

@utility container {
  margin-inline: auto;
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1124px) {
    max-width: 1124px;
  }
}

@layer base {
  :root {
    --border: 0 0% 89.8%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }

  * {
    @apply border-border;
  }

  label {
    @apply font-medium;
  }
  label > * {
    @apply mt-1 font-normal;
  }
}
