@import 'tailwindcss';

@theme {
  --color-background: #fff;
  --color-border: hsl(var(--border));

  --color-primary: #57ba60;
  --color-primary-foreground: #1b4c1f;
  --color-accent: #4a9e52;
  --color-muted: #f1fcf2;
}

@utility container {
  margin-inline: auto;
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1124px) {
    max-width: 1124px;
  }
}

@layer base {
  :root {
    --border: 0 0% 89.8%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }

  * {
    @apply border-border;
  }

  label {
    @apply font-medium;
  }
  label > * {
    @apply mt-1 font-normal;
  }
}
