@import 'tailwindcss';

@theme {
  --color-border: hsl(var(--border));
  --background-image-hero: url('/background.webp');
}

@utility container {
  margin-inline: auto;
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1124px) {
    max-width: 1124px;
  }
  @media (width >= 1536px) {
    max-width: 1536px;
  }
}

@layer base {
  :root {
    --border: 0 0% 89.8%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }

  * {
    @apply border-border text-zinc-700;
  }

  label {
    @apply font-medium;
  }
  label > * {
    @apply mt-1 font-normal;
  }
}
